* div {
    font-family: "Open Sans", sans-serif !important;
}

.navbar.navbar-inverse {
    background-color: #092211;
    border-color: #05140a;
    color: #eeeeee;
}
.navbar-inverse .navbar-brand:hover {
    background-color: #092211;
    border-color: #05140a;
    color: #eeeeee;
}

.currency-row {
    margin-top: 1em;
}

.section-box {
    padding: 1em;
    border: 2px solid lightgrey;
}

a {
    cursor: pointer;
}

.jumbotron {
    background: url('/stock-chart-blue.png') center;
    color: lightgrey;
    text-shadow:
        -2px -2px 0 #222,
        2px -2px 0 #222,
        -2px 2px 0 #222,
        2px 2px 0 #222,
        3px 3px 0 #000;
}

.footer {
    padding: 2em;
    margin-top: 1em;
    background-color: #092211;
    color: #dddddd;
    text-align: center;
}
